# Compiled files
*.class

# Maven
/target/

# Logs
*.log

# NetBeans
/nbproject/private/
/build/
/dist/
/nbactions.xml
/.nb-gradle/

# IDEs
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Temp files
*.tmp
*.bak
*.swp
